.australian_capital_territory {
	background: url(australian_states/australian_capital_territory.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.new_south_wales {
	background: url(australian_states/new_south_wales.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.northern_territory {
	background: url(australian_states/northern_territory.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.queensland {
	background: url(australian_states/queensland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.south_australia {
	background: url(australian_states/south_australia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.tasmania {
	background: url(australian_states/tasmania.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.victoria_australia {
	background: url(australian_states/victoria_australia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.western_australia {
	background: url(australian_states/western_australia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}