.aland_islands {
	background: url(flags/aland_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.abkhazia {
	background: url(flags/abkhazia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.afghanistan {
	background: url(flags/afghanistan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.albania {
	background: url(flags/albania.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.algeria {
	background: url(flags/algeria.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.american_samoa {
	background: url(flags/american_samoa.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.andorra {
	background: url(flags/andorra.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.angola {
	background: url(flags/angola.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.anguilla {
	background: url(flags/anguilla.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.antigua_and_barbuda {
	background: url(flags/antigua_and_barbuda.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.argentina {
	background: url(flags/argentina.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.armenia {
	background: url(flags/armenia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.aruba {
	background: url(flags/aruba.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.australia {
	background: url(flags/australia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.austria {
	background: url(flags/austria.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.azad_kashmir {
	background: url(flags/azad_kashmir.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.azerbaijan {
	background: url(flags/azerbaijan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.bahrain {
	background: url(flags/bahrain.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.bangladesh {
	background: url(flags/bangladesh.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.barbados {
	background: url(flags/barbados.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.basque {
	background: url(flags/basque.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.belarus {
	background: url(flags/belarus.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.belgium {
	background: url(flags/belgium.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.belize {
	background: url(flags/belize.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.benin {
	background: url(flags/benin.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.bermuda {
	background: url(flags/bermuda.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.bhutan {
	background: url(flags/bhutan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.bolivia {
	background: url(flags/bolivia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.bosnia_and_herzegovina {
	background: url(flags/bosnia_and_herzegovina.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.botswana {
	background: url(flags/botswana.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.bouvet_island {
	background: url(flags/norway.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.brazil {
	background: url(flags/brazil.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.british_antarctic_territory {
	background: url(flags/british_antarctic_territory.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.british_indian_ocean_territory {
	background: url(flags/british_indian_ocean_territory.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.british_virgin_islands {
	background: url(flags/british_virgin_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.brunei {
	background: url(flags/brunei.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.bulgaria {
	background: url(flags/bulgaria.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.burkina_faso {
	background: url(flags/burkina_faso.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.burundi {
	background: url(flags/burundi.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.ivory_coast {
	background: url(flags/ivory_coast.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cambodia {
	background: url(flags/cambodia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cameroon {
	background: url(flags/cameroon.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.canada {
	background: url(flags/canada.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cape_verde {
	background: url(flags/cape_verde.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.catalonia {
	background: url(flags/catalonia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cayman_islands {
	background: url(flags/cayman_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.central_african_republic {
	background: url(flags/central_african_republic.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.chad {
	background: url(flags/chad.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.chile {
	background: url(flags/chile.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.christmas_island {
	background: url(flags/christmas_island.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cocos_islands {
	background: url(flags/cocos_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.colombia {
	background: url(flags/colombia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.comoros {
	background: url(flags/comoros.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.congo {
	background: url(flags/congo.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cook_islands {
	background: url(flags/cook_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.costa_rica {
	background: url(flags/costa_rica.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.crimea {
	background: url(flags/crimea.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.croatia {
	background: url(flags/croatia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cuba {
	background: url(flags/cuba.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.curacao {
	background: url(flags/curacao.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cyprus {
	background: url(flags/cyprus.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cyrenaica {
	background: url(flags/cyrenaica.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.czech_republic {
	background: url(flags/czech_republic.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.democratic_republic_of_the_congo {
	background: url(flags/democratic_republic_of_the_congo.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.denmark {
	background: url(flags/denmark.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.djibouti {
	background: url(flags/djibouti.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.dominica {
	background: url(flags/dominica.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.dominican_republic {
	background: url(flags/dominican_republic.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.ecuador {
	background: url(flags/ecuador.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.egypt {
	background: url(flags/egypt.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.el_salvador {
	background: url(flags/el_salvador.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.england {
	background: url(flags/england.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.equatorial_guinea {
	background: url(flags/equatorial_guinea.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.eritrea {
	background: url(flags/eritrea.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.estonia {
	background: url(flags/estonia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.ethiopia {
	background: url(flags/ethiopia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.falkland_islands {
	background: url(flags/falkland_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.faroe_islands {
	background: url(flags/faroe_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.federated_states_of_micronesia {
	background: url(flags/federated_states_of_micronesia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.fiji {
	background: url(flags/fiji.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.finland {
	background: url(flags/finland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.france {
	background: url(flags/france.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.french_guiana {
	background: url(flags/france.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.french_polynesia {
	background: url(flags/french_polynesia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.french_southern_and_antarctic_lands {
	background: url(flags/french_southern_and_antarctic_lands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.gabon {
	background: url(flags/gabon.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.galicia {
	background: url(flags/galicia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.georgia_country {
	background: url(flags/georgia_country.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.germany {
	background: url(flags/germany.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.ghana {
	background: url(flags/ghana.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.gibraltar {
	background: url(flags/gibraltar.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.greece {
	background: url(flags/greece.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.greenland {
	background: url(flags/greenland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.grenada {
	background: url(flags/grenada.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.guadeloupe {
	background: url(flags/guadeloupe.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.guam {
	background: url(flags/guam.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.guatemala {
	background: url(flags/guatemala.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.guernsey {
	background: url(flags/guernsey.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.guinea {
	background: url(flags/guinea.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.guinea_bissau {
	background: url(flags/guinea_bissau.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.guyana {
	background: url(flags/guyana.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.haiti {
	background: url(flags/haiti.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.heard_island_and_mcdonald_islands {
	background: url(flags/australia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.honduras {
	background: url(flags/honduras.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.hong_kong {
	background: url(flags/hong_kong.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.hungary {
	background: url(flags/hungary.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.iceland {
	background: url(flags/iceland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.india {
	background: url(flags/india.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.indonesia {
	background: url(flags/indonesia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.iran {
	background: url(flags/iran.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.iraq {
	background: url(flags/iraq.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.iraqi_kurdistan {
	background: url(flags/iraqi_kurdistan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.ireland {
	background: url(flags/ireland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.isle_of_man {
	background: url(flags/isle_of_man.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.israel {
	background: url(flags/israel.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.italy {
	background: url(flags/italy.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.jamaica {
	background: url(flags/jamaica.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.japan {
	background: url(flags/japan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.jersey {
	background: url(flags/jersey.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.jordan {
	background: url(flags/jordan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.kazakhstan {
	background: url(flags/kazakhstan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.kenya {
	background: url(flags/kenya.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.kiribati {
	background: url(flags/kiribati.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.kosovo {
	background: url(flags/kosovo.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.kuwait {
	background: url(flags/kuwait.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.kyrgyzstan {
	background: url(flags/kyrgyzstan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.laos {
	background: url(flags/laos.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.latvia {
	background: url(flags/latvia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.lebanon {
	background: url(flags/lebanon.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.lesotho {
	background: url(flags/lesotho.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.liberia {
	background: url(flags/liberia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.libya {
	background: url(flags/libya.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.liechtenstein {
	background: url(flags/liechtenstein.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.lithuania {
	background: url(flags/lithuania.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.luxembourg {
	background: url(flags/luxembourg.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.macau {
	background: url(flags/macau.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.macedonia {
	background: url(flags/macedonia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.madagascar {
	background: url(flags/madagascar.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.malawi {
	background: url(flags/malawi.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.malaysia {
	background: url(flags/malaysia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.maldives {
	background: url(flags/maldives.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.mali {
	background: url(flags/mali.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.malta {
	background: url(flags/malta.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.marshall_islands {
	background: url(flags/marshall_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.martinique {
	background: url(flags/martinique.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.mauritania {
	background: url(flags/mauritania.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.mauritius {
	background: url(flags/mauritius.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.mayotte {
	background: url(flags/mayotte.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.mexico {
	background: url(flags/mexico.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.moldova {
	background: url(flags/moldova.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.monaco {
	background: url(flags/monaco.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.mongolia {
	background: url(flags/mongolia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.montenegro {
	background: url(flags/montenegro.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.montserrat {
	background: url(flags/montserrat.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.morocco {
	background: url(flags/morocco.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.mozambique {
	background: url(flags/mozambique.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.myanmar {
	background: url(flags/myanmar.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.nagorno_karabakh {
	background: url(flags/nagorno_karabakh.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.namibia {
	background: url(flags/namibia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.nauru {
	background: url(flags/nauru.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.nepal {
	background: url(flags/nepal.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.netherlands {
	background: url(flags/netherlands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.new_caledonia {
	background: url(flags/new_caledonia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.new_zealand {
	background: url(flags/new_zealand.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.nicaragua {
	background: url(flags/nicaragua.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.niger {
	background: url(flags/niger.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.nigeria {
	background: url(flags/nigeria.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.niue {
	background: url(flags/niue.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.norfolk_island {
	background: url(flags/norfolk_island.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.north_korea {
	background: url(flags/north_korea.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.northern_cyprus {
	background: url(flags/northern_cyprus.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.northern_mariana_islands {
	background: url(flags/northern_mariana_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.norway {
	background: url(flags/norway.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.oman {
	background: url(flags/oman.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.pakistan {
	background: url(flags/pakistan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.palau {
	background: url(flags/palau.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.palestine {
	background: url(flags/palestine.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.panama {
	background: url(flags/panama.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.papua_new_guinea {
	background: url(flags/papua_new_guinea.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.paraguay {
	background: url(flags/paraguay.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.peoples_republic_of_china {
	background: url(flags/peoples_republic_of_china.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.peru {
	background: url(flags/peru.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.philippines {
	background: url(flags/philippines.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.pitcairn_islands {
	background: url(flags/pitcairn_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.poland {
	background: url(flags/poland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.portugal {
	background: url(flags/portugal.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.puerto_rico {
	background: url(flags/puerto_rico.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.qatar {
	background: url(flags/qatar.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.reunion {
	background: url(flags/france.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.taiwan {
	background: url(flags/taiwan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.romania {
	background: url(flags/romania.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.russia {
	background: url(flags/russia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.rwanda {
	background: url(flags/rwanda.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.sao_tome_and_principe {
	background: url(flags/sao_tome_and_principe.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.sahrawi_arab_democratic_republic {
	background: url(flags/sahrawi_arab_democratic_republic.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.saint_barthelemy {
	background: url(flags/saint_barthelemy.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.saint_helena {
	background: url(flags/saint_helena.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.saint_kitts_and_nevis {
	background: url(flags/saint_kitts_and_nevis.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.saint_lucia {
	background: url(flags/saint_lucia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.saint_martin {
	background: url(flags/france.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.saint_vincent_and_the_grenadines {
	background: url(flags/saint_vincent_and_the_grenadines.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.saint_pierre_and_miquelon {
	background: url(flags/saint_pierre_and_miquelon.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.samoa {
	background: url(flags/samoa.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.san_marino {
	background: url(flags/san_marino.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.saudi_arabia {
	background: url(flags/saudi_arabia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.scotland {
	background: url(flags/scotland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.senegal {
	background: url(flags/senegal.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.serbia {
	background: url(flags/serbia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.seychelles {
	background: url(flags/seychelles.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.sierra_leone {
	background: url(flags/sierra_leone.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.singapore {
	background: url(flags/singapore.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.sint_maarten {
	background: url(flags/sint_maarten.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.slovakia {
	background: url(flags/slovakia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.slovenia {
	background: url(flags/slovenia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.solomon_islands {
	background: url(flags/solomon_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.somalia {
	background: url(flags/somalia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.somaliland {
	background: url(flags/somaliland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.south_africa {
	background: url(flags/south_africa.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.south_georgia_and_the_south_sandwich_islands {
	background: url(flags/south_georgia_and_the_south_sandwich_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.south_korea {
	background: url(flags/south_korea.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.south_ossetia {
	background: url(flags/south_ossetia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.south_sudan {
	background: url(flags/south_sudan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.spain {
	background: url(flags/spain.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.sri_lanka {
	background: url(flags/sri_lanka.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.sudan {
	background: url(flags/sudan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.suriname {
	background: url(flags/suriname.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.svalbard_and_jan_mayen {
	background: url(flags/norway.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.swaziland {
	background: url(flags/swaziland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.sweden {
	background: url(flags/sweden.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.switzerland {
	background: url(flags/switzerland.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.syria {
	background: url(flags/syria.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.syrian_kurdistan {
	background: url(flags/syrian_kurdistan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.tajikistan {
	background: url(flags/tajikistan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.tanzania {
	background: url(flags/tanzania.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.thailand {
	background: url(flags/thailand.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.the_bahamas {
	background: url(flags/the_bahamas.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.the_gambia {
	background: url(flags/the_gambia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.east_timor {
	background: url(flags/east_timor.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.togo {
	background: url(flags/togo.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.tokelau {
	background: url(flags/tokelau.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.tonga {
	background: url(flags/tonga.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.transnistria {
	background: url(flags/transnistria.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.trinidad_and_tobago {
	background: url(flags/trinidad_and_tobago.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.tunisia {
	background: url(flags/tunisia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.turkey {
	background: url(flags/turkey.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.turkmenistan {
	background: url(flags/turkmenistan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.turks_and_caicos_islands {
	background: url(flags/turks_and_caicos_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.tuvalu {
	background: url(flags/tuvalu.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.uganda {
	background: url(flags/uganda.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.ukraine {
	background: url(flags/ukraine.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.united_arab_emirates {
	background: url(flags/united_arab_emirates.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.united_kingdom {
	background: url(flags/united_kingdom.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.united_states_minor_outlying_islands {
	background: url(flags/united_states.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.united_states_virgin_islands {
	background: url(flags/united_states_virgin_islands.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.united_states {
	background: url(flags/united_states.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.uruguay {
	background: url(flags/uruguay.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.uzbekistan {
	background: url(flags/uzbekistan.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.vanuatu {
	background: url(flags/vanuatu.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.vatican_city {
	background: url(flags/vatican_city.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.venezuela {
	background: url(flags/venezuela.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.vietnam {
	background: url(flags/vietnam.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.wales {
	background: url(flags/wales.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.wallis_and_futuna {
	background: url(flags/wallis_and_futuna.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.yemen {
	background: url(flags/yemen.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.zambia {
	background: url(flags/zambia.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.zimbabwe {
	background: url(flags/zimbabwe.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.tristan_da_cunha {
	background: url(flags/tristan_da_cunha.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.ascension_island {
	background: url(flags/ascension_island.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.sovereign_military_order_of_malta {
	background: url(flags/sovereign_military_order_of_malta.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
