.alberta {
 background: url(province_flags/alberta.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.british_columbia {
 background: url(province_flags/british_columbia.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.manitoba {
 background: url(province_flags/manitoba.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.new_brunswick {
 background: url(province_flags/new_brunswick.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.newfoundland_and_labrador {
 background: url(province_flags/newfoundland_and_labrador.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.nova_scotia {
 background: url(province_flags/nova_scotia.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.ontario {
 background: url(province_flags/ontario.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.prince_edward_island {
 background: url(province_flags/prince_edward_island.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.quebec {
 background: url(province_flags/quebec.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.saskatchewan {
 background: url(province_flags/saskatchewan.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.northwest_territories {
 background: url(province_flags/northwest_territories.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.yukon {
 background: url(province_flags/yukon.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.nunavut {
 background: url(province_flags/nunavut.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}