.russian_soviet_federative_socialist_republic {
 background: url(soviet_republics/russian_soviet_federative_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.ukrainian_soviet_socialist_republic {
 background: url(soviet_republics/ukrainian_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.uzbek_soviet_socialist_republic {
 background: url(soviet_republics/uzbek_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.russian_soviet_federative_socialist_republic {
 background: url(soviet_republics/russian_soviet_federative_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.kazakh_soviet_socialist_republic {
 background: url(soviet_republics/kazakh_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.byelorussian_soviet_socialist_republic {
 background: url(soviet_republics/byelorussian_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.azerbaijan_soviet_socialist_republic {
 background: url(soviet_republics/azerbaijan_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.georgian_soviet_socialist_republic {
 background: url(soviet_republics/georgian_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.tajik_soviet_socialist_republic {
 background: url(soviet_republics/tajik_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.moldavian_soviet_socialist_republic {
 background: url(soviet_republics/moldavian_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.kirghiz_soviet_socialist_republic {
 background: url(soviet_republics/kirghiz_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.lithuanian_soviet_socialist_republic {
 background: url(soviet_republics/lithuanian_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.turkmen_soviet_socialist_republic {
 background: url(soviet_republics/turkmen_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.armenian_soviet_socialist_republic {
 background: url(soviet_republics/armenian_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.latvian_soviet_socialist_republic {
 background: url(soviet_republics/latvian_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.estonian_soviet_socialist_republic {
 background: url(soviet_republics/estonian_soviet_socialist_republic.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}

.soviet_union {
 background: url(soviet_republics/soviet_union.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}