/* alabama */
.alabama {
 background: url(state_flags/alabama.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* alaska */
.alaska {
 background: url(state_flags/alaska.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* arizona */
.arizona {
 background: url(state_flags/arizona.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* arkansas */
.arkansas {
 background: url(state_flags/arkansas.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* california */
.california {
 background: url(state_flags/california.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* colorado */
.colorado {
 background: url(state_flags/colorado.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* connecticut */
.connecticut {
 background: url(state_flags/connecticut.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* delaware */
.delaware {
 background: url(state_flags/delaware.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* florida */
.florida {
 background: url(state_flags/florida.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* georgia */
.georgia {
 background: url(state_flags/georgia.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* hawaii */
.hawaii {
 background: url(state_flags/hawaii.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* idaho */
.idaho {
 background: url(state_flags/idaho.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* illinois */
.illinois {
 background: url(state_flags/illinois.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* indiana */
.indiana {
 background: url(state_flags/indiana.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* iowa */
.iowa {
 background: url(state_flags/iowa.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* kansas */
.kansas {
 background: url(state_flags/kansas.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* kentucky */
.kentucky {
 background: url(state_flags/kentucky.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* louisiana */
.louisiana {
 background: url(state_flags/louisiana.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* maine */
.maine {
 background: url(state_flags/maine.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* maryland */
.maryland {
 background: url(state_flags/maryland.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* massachusetts */
.massachusetts {
 background: url(state_flags/massachusetts.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* michigan */
.michigan {
 background: url(state_flags/michigan.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* minnesota */
.minnesota {
 background: url(state_flags/minnesota.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* mississippi */
.mississippi {
 background: url(state_flags/mississippi.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* missouri */
.missouri {
 background: url(state_flags/missouri.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* montana */
.montana {
 background: url(state_flags/montana.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* nebraska */
.nebraska {
 background: url(state_flags/nebraska.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* nevada */
.nevada {
 background: url(state_flags/nevada.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* new_hampshire */
.new_hampshire {
 background: url(state_flags/new_hampshire.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* new_jersey */
.new_jersey {
 background: url(state_flags/new_jersey.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* new_mexico */
.new_mexico {
 background: url(state_flags/new_mexico.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* new_york */
.new_york {
 background: url(state_flags/new_york.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* north_carolina */
.north_carolina {
 background: url(state_flags/north_carolina.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* north_dakota */
.north_dakota {
 background: url(state_flags/north_dakota.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* ohio */
.ohio {
 background: url(state_flags/ohio.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* oklahoma */
.oklahoma {
 background: url(state_flags/oklahoma.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* oregon */
.oregon {
 background: url(state_flags/oregon.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* pennsylvania */
.pennsylvania {
 background: url(state_flags/pennsylvania.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* rhode_island */
.rhode_island {
 background: url(state_flags/rhode_island.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* south_carolina */
.south_carolina {
 background: url(state_flags/south_carolina.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* south_dakota */
.south_dakota {
 background: url(state_flags/south_dakota.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* tennessee */
.tennessee {
 background: url(state_flags/tennessee.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* texas */
.texas {
 background: url(state_flags/texas.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* utah */
.utah {
 background: url(state_flags/utah.png) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* vermont */
.vermont {
 background: url(state_flags/vermont.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* virginia */
.virginia {
 background: url(state_flags/virginia.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* washington */
.washington {
 background: url(state_flags/washington.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* washington_dc */
.washington_dc {
 background: url(state_flags/washington_dc.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* west_virginia */
.west_virginia {
 background: url(state_flags/west_virginia.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* wisconsin */
.wisconsin {
 background: url(state_flags/wisconsin.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}
/* wyoming */
.wyoming {
 background: url(state_flags/wyoming.svg) no-repeat center center fixed;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;
}