.european_union {
	background: url(supranational_unions/european_union.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.united_nations {
	background: url(supranational_unions/united_nations.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.arab_league {
	background: url(supranational_unions/arab_league.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.association_of_southeast_asian_nations {
	background: url(supranational_unions/association_of_southeast_asian_nations.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.central_american_integration_system {
	background: url(supranational_unions/central_american_integration_system.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.cooperation_council_for_the_arab_states_of_the_gulf {
	background: url(supranational_unions/cooperation_council_for_the_arab_states_of_the_gulf.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.african_union {
	background: url(supranational_unions/african_union.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.union_of_south_american_nations {
	background: url(supranational_unions/union_of_south_american_nations.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.caribbean_community {
	background: url(supranational_unions/caribbean_community.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.central_european_free_trade_agreement {
	background: url(supranational_unions/central_european_free_trade_agreement.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

.north_american_free_trade_agreement {
	background: url(supranational_unions/north_american_free_trade_agreement.svg) no-repeat center center fixed;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}